@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Really Sweet IS 413 Grade Calculator!";
}

@model GradeCalcModel; <!--Imports the model-->

<h2 class="titles">IS 413 Grade Calculator</h2>
<form class="box" method="post">
    <label>Assignments</label>
    <input id="assignments" asp-for="Assignments"/> <br />
    <label>Quizzes</label>
    <input id="quizzes" asp-for="Quizzes"/> <br />
    <label>Group Projects</label>
    <input id="groupprojects" asp-for="GroupProjects"/> <br />
    <label>INTEX</label>
    <input id="intex" asp-for="Intex"/> <br />
    <label>Exams</label>
    <input id="exams" asp-for="Exams"/> <br />
    <label>Extra Credit</label>
    <input id="extracredit" asp-for="ExtraCredit"/> <br />
    <input id="btnCalc" type="submit" value="Calculate" /> <br />

    <div asp-validation-summary="All"></div> <!--Will list all the errors below the form-->
</form>
<br />
