@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Rylan's Cool Mission 5 (Formerly Mission 4) Web Page!";
}



<h1 class="titles">Rylan Dunning</h1>
<br />
<img src="img/gunn.jpg" />
<br />
<br />
<p>
    I hope to become a better critical thinker when it comes to coding when I finish IS 413. I hope that this class teaches me how to be
    a better programmer, and even if I don't pursue a job that uses C# or ASP.NET, I hope this class contributes to my ability to learn
    new platforms and languages quickly and efficiently. One of the most important skills to have in the tech industry is the ability to
    learn powerful technologies as they come out and adapt to what companies use in their technology infrastructure, and IS 413 will surely
    be a great help in gaining that ability.
</p>
<br />

<h2>Top 3 Jobs I'm most interested in pursuing</h2>
<ol>
    <li>Cybersecurity Engineer</li>
    <li>Data Engineer</li>
    <li>Solutions Architect</li>
</ol>

<br />
<br />
<br />
<br />
<br />

