/*
body {
    margin-left: 30% auto;
    margin-right: 30% auto;
    background-color: aliceblue;
}*/

img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.titles {
    text-align: center;
    width: 100%;
}

.box {
    border: 1px solid black;
    padding: 20px;
    background-color: white;
    display: block;
    margin: 0 auto;
    width: 50%;
}

label {
    font-size: 20px;
    width: 135px;
    display: inline-block;
}